@font-face {
    font-family: 'Veneer';
    src: url('Veneer.woff2') format('woff2'),
        url('Veneer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wildwood';
    src: url('Wildwood-Medium.woff2') format('woff2'),
        url('Wildwood-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

